ul li{
    // background-color:white;
    font-size: 30px;
    font-weight: 400;
    height:50px;
    line-height: 50px;
    border-radius: 10px;
    text-decoration: none;
    border:1px solid rgba(0,0,0,0);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
}
a{
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
    text-decoration: none;
}

a:hover{
    box-shadow:  inset 6px 6px 10px -1px rgba(0,0,0,0.15),
    inset -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.1);
    color: white;
}
.nav a{
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
}